<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.caliconography.chroneco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="jp.caliconography.chroneco.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_chroneco"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="jp.caliconography.chroneco.activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="jp.caliconography.chroneco.activity.MemberListActivity"
            android:label="@string/title_member_list"
            android:parentActivityName="jp.caliconography.chroneco.activity.WelcomeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.caliconography.chroneco.activity.WelcomeActivity" />
        </activity>
        <activity
            android:name="jp.caliconography.chroneco.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="jp.caliconography.chroneco.activity.MemberListAdminActivity"
            android:label="@string/title_member_list"
            android:parentActivityName="jp.caliconography.chroneco.activity.SettingsActivity">
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
            android:value="jp.caliconography.chroneco.activity.SettingsActivity" />
        </activity>
        <activity
            android:name="jp.caliconography.chroneco.activity.MemberDetailActivity"
            android:label="@string/title_member_detail"
            android:parentActivityName="jp.caliconography.chroneco.activity.MemberListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.caliconography.chroneco.activity.MemberListActivity" />
        </activity>
        <activity
            android:name="jp.caliconography.chroneco.activity.MemberDetailAdminActivity"
            android:label="@string/title_member_detail"
            android:parentActivityName="jp.caliconography.chroneco.activity.MemberListAdminActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.caliconography.chroneco.activity.MemberListAdminActivity" />
        </activity>
        <activity
            android:name="jp.caliconography.chroneco.activity.LoginDispatchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <!-- For more options, see https://www.parse.com/docs/android_guide#ui-login -->
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true"/>
        </activity>
    </application>

</manifest>
